Source: hfi1-tmm
Maintainer: Scibian Project <packaging@scibian.org>
Section: non-free/misc
Priority: extra
Standards-Version: 3.9.8
Homepage: http://www.intel.com
Vcs-Git: https://github.com/scibian/hfi1-tmm.git
Vcs-Browser: https://github.com/scibian/hfi1-tmm
Build-Depends: debhelper (>= 9),

Package: hfi1-tmm
Architecture: any
Depends: ${misc:Depends},
Description: TMM Firmware for Gen1 HFI
 This package contains the TMM firmware.
 Usage of the firmware is subject to the terms and conditions contained
 inside the provided LICENSE file. Please read it carefully.
