Source: hfi1-tmm
Maintainer: Scibian Project <packaging@scibian.org>
Section: non-free/misc
Priority: extra
Standards-Version: 3.9.6
Homepage: http://www.intel.com
Build-Depends: debhelper (>= 9),
Vcs-Git: https://github.com/scibian/libhfi1.git
Vcs-Browser: https://github.com/scibian/libhfi1

Package: hfi1-tmm
Architecture: any
Depends: ${misc:Depends},
Description: TMM Firmware for Gen1 HFI
 This package contains the TMM firmware.
 Usage of the firmware is subject to the terms and conditions contained
 inside the provided LICENSE file. Please read it carefully.
